---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Brickheads Blog</title>
		<script is:inline>
			const theme = localStorage.getItem("theme") || "light";
			document.documentElement.setAttribute("data-theme", theme);
		</script>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
